.back-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
}

.back-button:hover {
    background-color: #45a049;
}

.dino-detail img {
    max-height: 60vh;
    max-width: 60vw;
    border-radius: 8px;
};



